.item {
  padding: 30px 0;

  background-color: #ffffff;

  @include m-lg {
    padding: 60px 0 100px;
  }

  &.item--plaque {


  }

  .item-col {

    @include m-md {
      display: grid;
      grid-template-columns: 50% auto;
      grid-gap: 50px;
    }

    @include m-lg {
      grid-gap: 100px;
    }
  }

  .photo-block {
    position: relative;

    align-self: start;

    .photo-top-txt {
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      text-transform: uppercase;
      color: #454545;
      text-align: center;

      @include m-lg {
        font-size: 16px;
      }

      span {
        font-weight: 700;
        color: #FF3446;
      }
    }

    .photo-top-slider {
      margin-top: 15px;

      border-radius: 3px;

      overflow: hidden;

      @include m-lg {
        margin-top: 25px;
      }

      .slider-list {
        display: flex;

        .slider-list__item {
          width: 100%;
          height: 345px;

          @include m-lg {
            width: 500px;
            height: 500px;
          }
        }

        .slider-list__pic {
          width: 100%;
          height: 100%;
          display: block;

          border-radius: 3px;

          overflow: hidden;

          img,
          source {
            width: 100%;
            height: 100%;

            object-fit: contain;
          }
        }
      }
    }

    .photo-video-link {
      margin-top: 15px;
      display: block;

      font-weight: 700;
      font-size: 14px;
      line-height: 100%;
      text-decoration-line: underline;
      color: #FF3446;

      @include m-lg {
        margin-left: 25px;

        font-size: 16px;
      }
    }

    .photo-bottom-slider {
      margin-top: 15px;

      border-radius: 3px;

      overflow: hidden;

      @include m-lg {
        margin-top: 30px;
        margin-left: 60px;
        width: calc(100% - 120px);
      }

      .slider-list {
        display: flex;

        .slider-list__item {
          width: 100%;
          height: 100px;

          @include m-lg {
            height: 80px;
          }
        }

        .slider-list__pic {
          width: 100%;
          height: 100%;
          display: block;

          border-radius: 3px;

          overflow: hidden;

          img,
          source {
            width: 100%;
            height: 100%;

            object-fit: contain;
          }
        }
      }
    }

    .photo-bottom-slider-button-next {
      position: absolute;
      bottom: 100px;
      right: 0;

      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;

      @include m-lg {
        bottom: 10px;
        right: 10px;

        width: 60px;
        height: 60px;
      }

      svg {
        width: 25px;
        height: 16px;

        &.desktop {
          display: none;
        }

        @include m-lg {
          width: 15px;
          height: 60px;

          &.desktop {
            display: block;
          }

          &.mobile {
            display: none;
          }
        }
      }
    }

    .photo-bottom-slider-button-prev {
      position: absolute;
      bottom: 100px;
      right: 45px;

      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;

      @include m-lg {
        bottom: 10px;
        right: calc(100% - 60px);

        width: 60px;
        height: 60px;
      }

      svg {
        width: 25px;
        height: 16px;

        &.desktop {
          display: none;
        }

        @include m-lg {
          width: 15px;
          height: 60px;

          &.desktop {
            display: block;
          }

          &.mobile {
            display: none;
          }
        }
      }
    }

    .engraving-btn {
      position: absolute;
      bottom: -45px;
      left: 25px;

      display: none;
      margin-top: 30px;

      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      text-decoration-line: underline;
      text-transform: uppercase;
      color: #FF3446;

      @include m-lg {
        display: block;
      }
    }
  }

  .txt-block {
    margin-top: 15px;

    @include m-md {
      margin-top: 25px;
    }

    @include m-lg {
      display: grid;
      margin-top: 40px;
    }

    .item__title {
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      text-transform: uppercase;
      color: #454545;

      @include m-lg {
        font-size: 30px;
      }
    }

    .rating-wrapper {
      display: flex;
      margin-top: 10px;

      @include m-lg {
        justify-content: space-between;
        margin-top: 15px;
      }
    }

    .rating {
      display: flex;
      align-items: center;

      .rating__item {
        width: 14px;
        height: 14px;
        margin-left: 5px;

        background-image: url("../img/svg/star.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        opacity: 0.3;

        @include m-lg {
          width: 20px;
          height: 20px;
          margin-left: 10px;
        }

        &.rating__item--full {
          opacity: 1;
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .callback-btn {
      margin-left: 15px;

      font-weight: 700;
      font-size: 14px;
      line-height: 100%;
      text-decoration-line: underline;
      color: #FF3446;

      @include m-lg {
        font-size: 16px;
      }
    }

    .color-wrapper {
      margin-top: 15px;

      @include m-lg {
        margin-top: 30px;
      }

      .color-txt {
        font-weight: 700;
        font-size: 12px;
        line-height: 100%;
        color: #454545;

        @include m-lg {
          font-size: 16px;
        }
      }

      .color-list {
        display: flex;
        align-items: center;
        margin-top: 10px;

        .color-list__item {
          position: relative;

          width: 30px;
          height: 30px;
          margin-left: 10px;

          border-radius: 50%;

          @include m-lg {
            width: 40px;
            height: 40px;
            margin-left: 15px;
          }

          &:first-child {
            margin-left: 0;
          }

          &.color-list__item--active {

            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;

              width: 25px;
              height: 25px;

              border: 1.5px solid #FFFFFF;
              border-radius: 50%;

              transform: translate(-50%, -50%);

              @include m-lg {
                width: 34px;
                height: 34px;

                border: 2px solid #FFFFFF;
              }
            }
          }

          &.color-list__item--one {
            background: #C4C4C4;
          }

          &.color-list__item--two {
            background: #FFDF38;
          }

          &.color-list__item--three {
            background: #454545;
          }

          &.color-list__item--four {
            background: #FFA3A3;
          }

          &.color-list__item--five {
            background: #AB52BA;
          }
        }
      }
    }

    .price-wrapper {
      margin-top: 30px;
      display: flex;
      align-items: center;

      @include m-lg {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row: 5 / 6;
        grid-gap: 15px 0;
      }

      .txt {
        display: none;

        @include m-lg {
          display: block;
          grid-column: 1 / 3;

          font-weight: 700;
          font-size: 16px;
          line-height: 130%;
          text-transform: uppercase;
          color: #FF3446;
        }
      }

      .price {
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        color: #454545;

        @include m-lg {
          font-size: 30px;
        }
      }

      .quantity-wrapper {
        display: inline-flex;
        align-items: center;
        align-self: end;
        justify-self: start;
        margin-left: 15px;

        background: #FFFFFF;
        box-shadow: 0px 0px 5.42133px rgba(0, 0, 0, 0.25);
        border-radius: 3px;

        .quantity__btn {
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;

          font-weight: 600;
          font-size: 25px;
          line-height: 100%;
          color: #FF3446;
        }

        .quantity__txt {
          width: 30px;
          height: 30px;

          text-align: center;
          font-weight: 600;
          font-size: 16px;
          line-height: 100%;
          color: #454545;
        }
      }
    }

    .txt-wrapper {
      margin-top: 30px;

      @include m-lg {
        grid-row: 3 / 4;
      }

      .txt {
        margin-top: 10px;

        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: #454545;

        @include m-lg {
          font-size: 16px;
        }

        &:first-child {
          margin-top: 0;
        }
      }

      .txt-btn {
        margin-top: 10px;

        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        text-decoration-line: underline;
        color: #FF3446;
      }
    }

    .engraving-wrapper {
      margin-top: 15px;

      @include m-lg {
        grid-row: 4 / 5;
        margin-top: 30px;
      }

      .engraving-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        text-transform: uppercase;
        color: #454545;

        @include m-lg {
          font-size: 16px;
        }
      }

      .engraving-btn {
        margin-top: 15px;

        font-weight: 700;
        font-size: 12px;
        line-height: 100%;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #FF3446;

        @include m-lg {
          display: none;
        }
      }

      textarea {
        margin-top: 15px;
        width: 100%;
        height: 80px;
        padding: 10px 15px;

        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: #454545;

        background: #FFFFFF;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
        border-radius: 3px;

        resize: none;

        @include m-lg {
          width: 360px;
          height: 100px;
        }

        &::placeholder {
          opacity: 0.4;
        }

        &::-webkit-scrollbar {
          width: 4px;
        }

        &::-webkit-scrollbar-track {
          background: #EEEEEE;
          border-radius: 3px;
        }

        &::-webkit-scrollbar-thumb {
          background: #FF3446;
          border-radius: 3px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: #EEEEEE;
        }
      }

      .engraving-one,
      .engraving-two {
        width: 100%;
        height: 30px;
        padding: 0 15px;
        margin-top: 15px;

        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: #454545;

        background: #FFFFFF;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
        border-radius: 3px;

        @include m-lg {
          width: 360px;
        }

        &::placeholder {
          opacity: 0.4;
        }
      }

      .engraving-txt {
        margin-top: 15px;

        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #454545;
        opacity: 0.5;

        @include m-lg {
          font-size: 14px;
        }
      }
    }

    .btns-wrapper {
      margin-top: 15px;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 15px;

      @include m-md {
        grid-template-columns: 1fr;
      }

      @include m-lg {
        grid-template-columns: repeat(2, auto);
        margin-top: 30px;
        grid-gap: 15px 30px;
      }

      .txt {
        grid-column: 1 / 3;

        font-weight: 700;
        font-size: 14px;
        line-height: 130%;
        text-transform: uppercase;
        color: #FF3446;

        @include m-md {
          grid-column: auto;
        }

        @include m-lg {
          display: none;
        }
      }

      .buy-btn,
      .link {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        padding: 0 20px;
        height: 40px;

        background: #FF3446;
        border-radius: 3px;

        font-weight: 700;
        font-size: 14px;
        line-height: normal;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;

        @include m-lg {
          font-size: 16px;
        }
      }

      .opt-btn {
        justify-self: start;

        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        text-decoration-line: underline;
        color: #FF3446;

        @include m-lg {
          font-size: 16px;
        }
      }
    }
  }
}
