.reviews {
  padding: 30px 0;

  background-color: #f5f5f5;

  @include m-lg {
    padding: 60px 0;

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/bg.png");
    background-position: center;
  }

  .reviews-slider {
    padding: 50px 0 35px;

    overflow: hidden;

    @include m-lg {
      padding: 30px 0 70px;
      width: calc(100% - 40px);
      margin: 0 20px;
    }
  }

  .reviews-list {
    display: flex;

    .reviews-list__item {
      display: flex;
    }

    .reviews-list__pic {
      width: 30px;
      height: 30px;
      display: block;
      flex-shrink: 0;
      margin-right: 15px;
      margin-top: -6px;

      border-radius: 50%;

      overflow: hidden;

      @include m-lg {
        width: 50px;
        height: 50px;
      }

      img,
      source {
        width: 100%;
        height: 100%;

        object-fit: cover;
      }
    }

    .reviews-list__name {
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      color: #454545;

      @include m-lg {
        font-size: 18px;
      }
    }

    .reviews-list__txt {
      margin-top: 15px;
      display: -webkit-box;

      font-size: 14px;
      line-height: 130%;
      color: #454545;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;

      overflow: hidden;

      @include m-lg {
        font-size: 16px;
        -webkit-line-clamp: 6;
      }
    }

    .reviews-list__btn {
      display: none;
      margin-top: 5px;

      font-size: 16px;
      line-height: 100%;
      text-decoration-line: underline;
      color: #FF3446;

      @include m-lg {
        display: block;
      }
    }

    .reviews-list__date {
      margin-top: 10px;

      font-size: 14px;
      line-height: 100%;
      color: #454545;

      @include m-lg {
        font-size: 16px;
      }
    }
  }

  .reviews-slider-button-next {
    position: absolute;
    top: 0;
    right: 0;

    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    @include m-lg {
      top: 50%;
      right: -20px;

      width: 60px;
      height: 60px;

      transform: translateY(-50%);
    }

    svg {
      width: 25px;
      height: 16px;

      &.desktop {
        display: none;
      }

      @include m-lg {
        width: 15px;
        height: 60px;

        &.desktop {
          display: block;
        }

        &.mobile {
          display: none;
        }
      }
    }
  }

  .reviews-slider-button-prev {
    position: absolute;
    top: 0;
    right: 45px;

    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    @include m-lg {
      top: 50%;
      right: calc(100% - 40px);

      width: 60px;
      height: 60px;

      transform: translateY(-50%);
    }

    svg {
      width: 25px;
      height: 16px;

      &.desktop {
        display: none;
      }

      @include m-lg {
        width: 15px;
        height: 60px;

        &.desktop {
          display: block;
        }

        &.mobile {
          display: none;
        }
      }
    }
  }

  .reviews-slider-pagination {
    position: absolute;
    bottom: 15px;
    left: 50%;

    width: auto;
    height: 5px;
    display: flex;
    align-items: center;

    transform: translateX(-50%);

    @include m-lg {
      bottom: 30px;

      height: 10px;
    }

    .swiper-pagination-bullet {
      width: 5px;
      height: 5px;
      margin: 0;
      margin-left: 3px;

      background: #FF3446;

      opacity: 0.2;

      @include m-lg {
        width: 10px;
        height: 10px;
        margin-left: 5px;
      }

      &.swiper-pagination-bullet-active {
        background: #FF3446;

        opacity: 1;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
