.page-404 {
  padding: 70px 0 35px;

  background-color: #f5f5f5;

  @include m-lg {
    padding: 100px 0 50px;

    background-image: url("../img/404-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .top-block {
    position: relative;

    &::before {
      content: "УПС";
      position: absolute;
      top: 0;
      left: 50%;

      font-weight: bold;
      font-size: 159.372px;
      line-height: 100%;
      text-transform: uppercase;
      color: #454545;
      opacity: 0.05;

      transform: translateX(-50%);

      @include m-lg {
        font-size: 415px;
      }

      @include m-xl {
        font-size: 498px;
      }
    }

    .top-block__title {
      font-weight: 700;
      font-size: 90px;
      line-height: 100%;
      text-transform: uppercase;
      color: #454545;
      text-align: center;

      @include m-lg {
        font-size: 261px;
      }
    }

    .top-block__subtitle {
      margin-top: 15px;

      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      text-transform: uppercase;
      color: #454545;
      text-align: center;

      @include m-lg {
        margin-top: 20px;

        font-size: 40px;
      }
    }
  }

  .bottom-block {
    margin-top: 95px;

    @include m-lg {
      margin-top: 150px;
    }

    .bottom-block__subtitle {
      position: relative;

      padding-bottom: 15px;

      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      text-transform: uppercase;
      color: #454545;
      text-align: center;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;

        width: 60px;
        height: 3px;

        background: #FF3446;

        transform: translateX(-50%);
      }

      @include m-lg {
        font-size: 38px;
      }
    }

    .bottom-lists {
      display: flex;
      justify-content: space-between;
    }

    .bottom-list {
      margin-top: 50px;
      display: flex;
      flex-direction: column;

      .bottom-list__item {
        margin-top: 10px;

        &:first-child {
          position: relative;

          padding-bottom: 10px;

          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;

            width: 30px;
            height: 3px;

            background: #FF3446;
          }

          .bottom-list__link {
            text-transform: uppercase;
          }
        }
      }

      .bottom-list__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        color: #454545;
        text-decoration: none;
      }
    }
  }
}
