.engraving-goods {
  padding: 30px 0;

  background-color: #f5f5f5;

  @include m-lg {
    padding: 60px 0;

    background-image: url("../img/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .title-block {

    &::before {
      content: none;
    }
  }

  .tab-row {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -15px;

      width: calc(100% + 30px);
      height: 3px;

      background-color: #CDCED6;
    }
  }

  .tab-list {
    position: relative;
    z-index: 10;

    margin-left: -15px;
    width: calc(100% + 30px);
    display: flex;
    padding: 0 15px;

    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .tab-list__item {
      position: relative;

      padding: 15px;
      margin-top: 15px;

      font-weight: 700;
      font-size: 14px;
      line-height: 100%;
      text-transform: uppercase;
      color: rgba(255, 52, 70, 0.5);
      white-space: nowrap;

      cursor: pointer;
      transition: 0.3s;

      @include m-lg {
        padding: 20px;
        font-size: 18px;
      }

      &::after {
        content: none;
        position: absolute;
        bottom: 0;
        left: 50%;

        border: 7px solid transparent;
        border-bottom: 7px solid #FF3446;

        transform: translateX(-50%);
        transition: 0.3s;
      }

      &::before {
        content: none;
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 3px;

        background-color: #FF3446;
        transition: 0.3s;
      }

      &.tab-list__item--active {
        color: #FF3446;

        background: transparent;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        border-radius: 3px 3px 0 0;

        &::after {
          content: "";
        }

        &::before {
          content: "";
        }
      }
    }
  }

  .gallery__txt {
    margin-top: 15px;

    font-size: 14px;
    line-height: 145%;
    color: #454545;

    @include m-lg {
      margin: 15px 50px;

      font-size: 16px;
      line-height: 130%
    }
  }

  .engraving-goods-slider {
    padding: 45px 10px 30px;
    width: calc(100% + 20px);
    margin-left: -10px;

    overflow: hidden;

    @include m-lg {
      padding: 30px 10px 70px;
      width: calc(840px + 20px);
      margin: 0 auto;
    }
  }

  .slider-list {
    display: flex;

    .slider-list__item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;

      @include m-lg {
        grid-template-columns: repeat(3, 250px);
        grid-gap: 45px;
        margin: 0 auto;
      }
    }

    .wrapper {
      position: relative;

      display: block;

      text-decoration: none;

      background: #FFFFFF;
      box-shadow: 0px 0px 5.27138px rgba(0, 0, 0, 0.5);
      border-radius: 3px;

      @include m-lg {
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      }

      &:hover {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);

        .slider-list__cart-btn {
          opacity: 1;
          visibility: visible;
        }

        &::before {
          opacity: 1;
          visibility: visible;
        }
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 60.84px;

        background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0.61) 106.72%);

        transition: 0.3s;
        opacity: 0;
        visibility: hidden;

        @include m-lg {
          height: 92.33px;
        }
      }
    }

    .slider-list__actions {
      position: absolute;
      top: 5px;
      left: -5px;
      z-index: 10;

      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 5px;
      height: 20px;

      font-weight: 700;
      font-size: 7px;
      line-height: 100%;
      color: #FFFFFF;

      background: #F64E60;
      border-radius: 3px;

      @include m-lg {
        top: 10px;
        left: -10px;

        padding: 0 10px;
        height: 40px;

        font-size: 14px;
      }
    }

    .slider-list__link {
      display: block;
      width: 100%;
      height: 100%;

      text-decoration: none;
    }

    .slider-list__pic {
      width: 100%;
      height: 145px;
      display: block;

      overflow: hidden;

      @include m-lg {
        height: 220px;
      }

      img,
      source {
        width: 100%;
        height: 100%;

        object-fit: contain;
      }
    }

    .txt-wrapper {
      padding: 10px;

      @include m-lg {
        padding: 20px 15px 15px;
      }
    }

    .slider-list__name {
      padding-bottom: 3px;
      margin-bottom: 5px;
      display: inline-block;

      font-weight: 700;
      font-size: 12px;
      line-height: 100%;
      text-transform: uppercase;
      color: #454545;

      border-bottom: 2px solid #FF3446;

      @include m-lg {
        font-size: 18px;
      }
    }

    .slider-list__txt {
      margin-top: 5px;

      font-weight: normal;
      font-size: 10.5428px;
      line-height: 100%;
      color: #454545;

      @include m-lg {
        margin-top: 10px;

        font-size: 16px;

        &:first-of-type {
          margin-top: 15px;
        }
      }

      &:first-of-type {
        margin-top: 10px;
      }
    }

    .slider-list__price {
      margin-top: 10px;

      font-weight: 700;
      font-size: 11.8606px;
      line-height: 100%;
      color: #FF3446;

      @include m-lg {
        margin-top: 15px;

        font-size: 18px;

        span {
          margin-right: 10px;

          font-size: 16px;
        }
      }

      span {
        margin-right: 5px;

        font-weight: 400;
        font-size: 10.5428px;
        line-height: 100%;
        text-decoration-line: line-through;
        color: #454545;
        opacity: 0.5;
      }
    }

    .slider-list__cart-btn {
      position: absolute;
      bottom: 10px;
      left: 50%;

      padding: 0 10px;
      height: 25px;

      font-weight: 700;
      font-size: 10.5428px;
      line-height: normal;
      text-transform: uppercase;
      color: #FFFFFF;

      background: #FF3446;
      border-radius: 1.97677px;

      transform: translateX(-50%);
      transition: 0.3s;
      opacity: 0;
      visibility: hidden;

      @include m-lg {
        bottom: 15px;

        padding: 0 20px;
        height: 40px;

        font-size: 16px;

        border-radius: 3px;
      }
    }
  }

  .engraving-goods-slider-pagination {
    position: absolute;
    bottom: 15px;
    left: 50%;

    width: auto;
    height: 5px;
    display: flex;
    align-items: center;

    transform: translateX(-50%);

    @include m-lg {
      bottom: 20px;

      height: 10px;
    }

    .swiper-pagination-bullet {
      width: 5px;
      height: 5px;
      margin: 0;
      margin-left: 3px;

      background: #FF3446;

      opacity: 0.2;

      @include m-lg {
        width: 10px;
        height: 10px;
        margin-left: 5px;
      }

      &.swiper-pagination-bullet-active {
        background: #FF3446;

        opacity: 1;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .engraving-goods-slider-button-next {
    position: absolute;
    top: 0;
    right: 0;

    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    @include m-lg {
      top: 415px;
      right: 0;

      width: 60px;
      height: 60px;
    }

    svg {
      width: 25px;
      height: 16px;

      &.desktop {
        display: none;
      }

      @include m-lg {
        width: 15px;
        height: 60px;

        &.desktop {
          display: block;
        }

        &.mobile {
          display: none;
        }
      }
    }
  }

  .engraving-goods-slider-button-prev {
    position: absolute;
    top: 0;
    right: 45px;

    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    @include m-lg {
      top: 415px;
      right: calc(100% - 60px);

      width: 60px;
      height: 60px;
    }

    svg {
      width: 25px;
      height: 16px;

      &.desktop {
        display: none;
      }

      @include m-lg {
        width: 15px;
        height: 60px;

        &.desktop {
          display: block;
        }

        &.mobile {
          display: none;
        }
      }
    }
  }
}
