.cost {
  padding: 30px 0;

  background-color: #f5f5f5;

  @include m-lg {
    padding: 60px 0;

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/bg.png");
    background-position: center;
  }

  .inner-wrapper {
    margin-top: 15px;

    @include m-lg {
      width: 1020px;
      margin: 30px auto 0;
      display: grid;
      grid-template-columns: 450px auto;
      grid-gap: 15px 30px;
      align-items: start;
    }
  }

  .banner {
    display: grid;
    grid-template-columns: 60px auto;
    grid-gap: 10px;
    padding: 10px;

    background: #FFFFFF;
    box-shadow: 0px 0px 4.95056px rgba(0, 0, 0, 0.25);
    border-radius: 1.85646px;

    @include m-lg {
      grid-template-columns: 100px auto;
      grid-column: 2 / 3;
      padding: 15px;
      grid-gap: 15px;
    }

    .banner__name {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      grid-row: 1 / 3;

      font-weight: 700;
      font-size: 11.1388px;
      line-height: 130%;
      text-transform: uppercase;
      color: #FFFFFF;
      text-align: center;

      background: #FF3446;
      border-radius: 50%;

      @include m-lg {
        width: 100px;
        height: 100px;

        font-size: 18px;
      }
    }

    .banner__title {
      display: flex;
      align-items: flex-end;
      align-self: center;

      font-weight: 400;
      font-size: 18.1166px;
      line-height: 100%;
      color: #454545;
      white-space: nowrap;

      @include m-lg {
        font-size: 29.276px;
      }

      span {
        margin-left: 5px;
        margin-bottom: -1px;

        line-height: 100%;
        font-size: 27.17px;
        font-weight: 700;

        @include m-lg {
          margin-bottom: -2px;

          font-size: 39.03px;
        }
      }
    }

    .banner-list {
      display: flex;
      flex-direction: column;
      align-self: center;

      .banner-list__item {
        position: relative;

        padding-left: 24px;
        margin-top: 5px;

        font-size: 12.3764px;
        line-height: 100%;
        color: #454545;

        @include m-lg {
          margin-top: 9px;
          padding-left: 39px;

          font-size: 20px;
        }

        &:first-child {
          margin-top: 0;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;

          width: 15px;
          height: 12px;

          background-position: center;
          background-image: url("../img/svg/check1.svg");
          background-size: contain;
          background-repeat: no-repeat;

          @include m-lg {
            width: 24px;
            height: 20px;
          }
        }
      }
    }
  }

  .cost-list {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    @include m-lg {
      margin-top: 0;
      grid-column: 2 / 3;
    }

    .cost-list_item {
      padding: 10px 0;
      display: flex;
      justify-content: space-between;

      border-top: 0.62px solid #454545;

      @include m-lg {
        padding: 15px 0;

        border-top: 1px solid #454545;
      }

      &:first-child {
        border: none;
      }
    }

    .cost-list__title {
      flex: 1;

      font-weight: 700;
      font-size: 10px;
      line-height: 130%;
      text-transform: uppercase;
      color: #454545;
      white-space: nowrap;

      @include m-lg {
        font-size: 16px;
      }

      &:nth-child(2) {
        text-align: center;
      }

      &:last-child {
        text-align: right;
      }
    }

    .cost-list__name {
      flex: 1;
      padding-left: 10px;

      font-weight: 700;
      font-size: 10px;
      line-height: 130%;
      color: #454545;

      @include m-lg {
        font-size: 16px;
      }
    }

    .cost-list__method {
      flex: 1;

      font-size: 10px;
      line-height: 130%;
      color: #454545;
      text-align: center;

      @include m-lg {
        font-size: 16px;
      }
    }

    .cost-list__cost {
      flex: 1;
      padding-right: 10px;

      font-weight: 700;
      font-size: 10px;
      line-height: 130%;
      color: #FF3446;
      text-align: right;

      @include m-lg {
        font-size: 16px;
      }
    }
  }

  .cost__txt {
    margin-top: 15px;

    font-size: 14px;
    line-height: 145%;
    color: #454545;

    @include m-lg {
      margin-top: 0;
      grid-column: 2 / 3;

      font-size: 16px;
      line-height: 150%;
    }
  }

  .cost-gallery {
    margin: 15px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;

    @include m-lg {
      margin-top: 0;
      grid-template-columns: repeat(3, 1fr);
      grid-row: 1 / 10;
      grid-gap: 7px;
    }

    .cost-gallery__item {
      display: none;
      min-height: 165px;

      @include m-lg {
        display: block;
        min-height: 145px;
      }

      &.cost-gallery__item--mobile {
        display: block;
      }

      &:first-child {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        min-height: 345px;

        @include m-lg {
          grid-column: 1 / 4;
          min-height: 450px;
        }
      }
    }

    .cost-gallery__link {
      position: relative;

      display: block;
      width: 100%;
      height: 100%;

      &:hover {

        @include m-lg {

          &::before {
            opacity: 1;
            visibility: visible;
          }

          &:after {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, 0.5);

        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;

        width: 78px;
        height: 78px;

        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../img/svg/loop.svg");
        background-position: center;

        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
      }
    }

    .cost-gallery__pic {
      display: block;
      width: 100%;
      height: 100%;

      overflow: hidden;

      img,
      source {
        width: 100%;
        height: 100%;

        object-fit: cover;
      }
    }
  }
}
