.engraving-top {
  padding: 30px 0 30px;

  background-color: #ffffff;

  @include m-lg {
    padding: 60px 0 40px;
  }

  .inner-wrapper {

    @include m-xl {
      width: 1020px;
      margin: 0 auto;
    }
  }

  .engraving-top__txt {
    margin-top: 15px;

    font-size: 14px;
    line-height: 145%;
    color: #454545;

    @include m-lg {
      margin-top: 20px;

      font-size: 16px;
      line-height: 130%;
    }
  }

  .engraving-top-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
    // max-height: 380px;

    &.engraving-top-list--open {
      // max-height: none;

      .engraving-top-list__item {
        display: block;
      }
    }

    @include m-lg {
      margin-top: 30px;
    }

    .engraving-top-list__item {
      margin-bottom: 15px;
      width: calc((100% - 15px) / 2);
      height: 80px;
      margin-right: 15px;
      display: none;

      border-radius: 3px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

      overflow: hidden;

      transition: 0.3s;
      cursor: pointer;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        display: block;
      }

      @include m-sm {
        height: 120px;
      }

      @include m-md {
        height: 140px;
      }

      @include m-lg {
        height: 160px;
      }

      @include m-xl {
        width: 320px;
        margin-left: 30px;
        margin-bottom: 30px;
        margin-right: 0;

        &:nth-child(3n+1) {
          margin-left: 0;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    .engraving-top-list__link {
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      text-decoration: none;

      &:hover {

        @include m-lg {

          &::before {
            opacity: 1;
            visibility: visible;
          }

          .engraving-top-list__txt {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 40px;

        background: linear-gradient(0deg, rgba(0, 0, 0, 0.97) -10.7%, rgba(0, 0, 0, 0) 100%);

        opacity: 0;
        visibility: hidden;
        transition: 0.3s;

        @include m-lg {
          height: 65px;
        }
      }
    }

    .engraving-top-list__pic {
      width: 100%;
      max-width: 125px;
      height: 100%;
      max-height: 55px;
      display: block;

      @include m-md {
        max-width: 200px;
        max-height: 65px;
      }

      @include m-lg {
        max-width: 240px;
        max-height: 105px;
      }

      img,
      source {
        width: 100%;
        height: 100%;

        object-fit: contain;
      }
    }

    .engraving-top-list__txt {
      position: absolute;
      bottom: 7px;
      left: 50%;

      font-weight: 700;
      font-size: 11.2125px;
      line-height: 100%;
      text-transform: uppercase;
      color: #FFFFFF;
      text-align: center;
      white-space: nowrap;

      transform: translateX(-50%);
      opacity: 0;
      visibility: hidden;
      transition: 0.3s;

      &:hover {

        @include m-lg {
          opacity: 1;
          visibility: visible;
        }
      }

      @include m-lg {
        bottom: 12px;

        font-size: 18px;
      }
    }
  }

  .go-to-page__link {

    &.go-to-page__link--remove {
      display: none;
    }
  }
}
